* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

html,
body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

/* header */

.header {
    background-image: url('../img/navbar-bg.png');
}

.navbar {
    background-color: rgba(255, 0, 0, 0.49);
}

.navbar .btn {
    text-transform: uppercase;
    color: #fff;
}

.navbar .btn:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}

.navbar i {
    color: #4a76a8;
    font-size: 30px;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 15px;
}

.navbar .fa-instagram {
    color: violet;
}

.navbar__link {
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

.navbar__link:hover {
    color: #fff;
}

.contact .btn {
    box-shadow: none !important;
}

.navbar__logo img {
    width: 180px;
}

/* header end */


/* carousel */
.carousel-item {
    height: 500px;
    position: relative;
}

.carousel-item__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-item__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

.carousel-item__title {
    font-weight: 700;
    color: #fff;
}

.carousel-item__text {
    color: #fff;
}


/* carousel end */

/* nav */
.nav {
    background-image: url('../img/navbar-bg.png');
}

.nav-back {
    background-color: rgba(255, 0, 0, 0.49);
    width: 100%;
}


.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    margin-bottom: 0;
}

.nav-list__link {
    color: #fff;
    font-weight: 700;
    font-style: italic;
    position: relative;
    width: max-content;
    overflow: hidden;
    display: inline-block;
    padding: 15px 15px 0;
    margin-bottom: 15px;
    transition: 0.5s;
}

.nav-list__link:hover {
    color: gold;
}

.nav-list__link::before {
    content: '';
    width: 200px;
    height: 1px;
    background: gold;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-200px);
    transition: 0.5s;

}

.nav-list__link:hover::before {
    transform: translateX(0);
}

/* nav end */

/* gallery */

.gallary-margin {
    margin-top: 90.4px;
}

.gallery {
    background: url('../img/navbar-bg.png');
}

.card-col {
    margin: 15px auto;
}

.card {
    text-align: center;
    border: 10px double #fff;
    border-radius: 0;
    overflow: hidden;
    background: black;
}

.card__image {
    height: 400px;
    object-fit: cover;
    border-bottom: 8px double #fff;
}

.gallery-bg {
    background: rgba(255, 255, 255, 0.5);
    padding: 40px 0;
}

.card__title {
    color: #fff;
    margin-top: 15px;
    text-transform: capitalize;
}

.card__price {
    color: #fff;
}

/* gallery end */