.gallery-title {
  background: transparent;
  padding: 50px 20px;
  text-align: center;
}

.gallery-title h2 {
  font-family: 'Merriweather', serif;
  position: relative;
  color: #fff;
  font-size: 50px;
  font-weight: normal;
  padding: 8px 20px 7px 20px;
  border-top: 4px solid;
  border-left: 4px solid;
  display: inline-block;
  margin: 0;
  line-height: 1;
  text-shadow: 5px 5px 5px #000;

}

.gallery-title h2:before {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  top: -28px;
  left: -28px;
  border: 4px solid #fff;
  box-sizing: border-box;
  /* box-shadow: 5px 5px 5px 5px #000; */
}

@media (max-width: 450px) {
  .gallery-title h2 {
    font-size: 36px;
  }

  .gallery-title h2:before {
    width: 20px;
    height: 20px;
    top: -20px;
    left: -20px;
  }
}