.five {
    background: transparent;
    padding: 50px 20px 50px 170px;
    text-align: center;
}

.five h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    position: relative;
    color: #fff;
    font-size: 2.5em;
    font-weight: normal;
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: 8px 20px 8px 2px;
    border-top: 4px solid;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #000;
}

.five h2:before {
    content: "Торты";
    position: absolute;
    top: -10px;
    left: -160px;
    font-size: 1.5em;
    transform: rotate(-25deg);
    font-family: 'Marck Script', cursive;
    text-transform: none;
}

.five h2:after {
    content: "";
    position: absolute;
    width: 120%;
    height: 4px;
    right: 0;
    bottom: -4px;
    background: #fff;
}

@media (max-width: 580px) {
    .five {
        padding-left: 130px;
    }

    .five h2 {
        font-size: 2em;
    }

    .five h2:before {
        left: -130px;
    }
}

@media (max-width: 480px) {
    .five {
        padding-left: 100px;
    }

    .five h2 {
        font-size: 1.5em;
        padding-right: 10px;
    }

    .five h2:before {
        left: -100px;
    }
}

@media (max-width: 380px) {
    .five {
        padding-left: 90px;
    }

    .five h2 {
        font-size: 1.3em;
    }

    .five h2:before {
        left: -88px;
    }
}